.postsBlock {
    padding: 20px 20px 20px 40px;
    background: white;
    margin: 10px;
    color: dimgray;
    box-shadow: 2px 2px 5px 0 #00000059;
}

.posts {
    margin-top: 10px;
}

.postsBlock textarea{
    width: 475px;
    height: 60px;
}

.newPost {
    margin-left: 84px;
}

.add {
    position: absolute;

}

.cancel {
    margin-left: 60px;
}