.postsBlock {
    padding: 20px;
    color: dimgray;
}

.posts {
    margin-top: 10px;
}

.postsBlock textarea{
    width: 475px;
    height: 60px;
}

.newPost {
    margin-left: 84px;
}

.add {
    position: absolute;

}

.cancel {
    margin-left: 60px;
}