.header {
    grid-area: header;
    background-color: #00a34a
}

.header img {
    margin-left: 10px;
    margin-top: 3px;
    width: 55px;
}

.loginBlock {
    margin-top: 15px;
    margin-right: 30px;
    float: right;
}

.loginBlock a {
    color: white;
    margin-right: 10px;
}

.loginBlock a:hover {
    text-decoration: none;
}