.nav {
    grid-area: nav;
    margin-top: 5px;
}

.item a {
    color: #2f9c30;
    text-decoration: none;
    width: 80%;
    display: block;
    padding: 5px;
    border-radius: 3px;
    transition: all 0.1s linear;
}

.item a:hover, .item a.activeLink {
    background-color: #d4d4d4;
}

.friendsWrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

