.nav {
    margin-top: 10px;
    grid-area: nav;
    background-color: #007c33;
    padding: 10px;
}

.item a {
    color: azure;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.friendsWrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

