.descriptionBlock {
    padding: 20px;
    color: dimgray;
}

.contact {
    padding-left: 10px;
}

.mainPhoto {
    width: 200px;
    border-radius: 100px;
}

.status {
    vertical-align: top;
}

.statusBody{
    display: inline-block;
    width: 500px;
    word-break: break-word;
}