.descriptionBlock {
    margin-top: 20px;
    padding-left: 20px;
    color: dimgray;
}

.mainPhotoBlock {
    float: right;
    margin-right: 20px;
    width: 250px;
}

.mainPhoto {
    width: 200px;
    border-radius: 100px;
    float: right;
}

.editPhotoIcon {
    background: url("../../../assets/images/pencil.png");
    float: right;
    margin-left: 213px;
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    display: none;
}

.mainPhotoBlock:hover .editPhotoIcon{
    display: block;
}

.itemLabel {
    display: inline-block;
    width: 175px;
    vertical-align: top;
}

.contact {
    display: inline-block;
    padding-left: 10px;
    width: 161px;
    vertical-align: top;
}

.contactForm {
    display: inline-block;
    padding-left: 10px;
    width: 166px;
    vertical-align: top;
}

.status {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.statusBody{
    display: inline-block;
    width: 500px;
    word-break: break-word;
}

.alwaysHide {
    display: none;
}

.editPhoto {

}

.input {
    display: inline-block;
}

.input input {
    width: 200px;
}

.textarea {
    display: inline-block;
}

.textarea textarea {
    width: 300px;
}

.checkbox {
    display: inline-block;
}

h3 {
    margin-top: 0;
}