.app-wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;

  grid-template-areas:
  "header header"
  "backImg backImg"
  "content content";

  grid-template-rows: 60px 150px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.app-wrapper-content {
  grid-area: content;
  background-color: #ddd
}

.backHeader {
    grid-area: header;
    background-color: #007c33;
}

.backImg {
    grid-area: backImg;
    background: url("./assets/images/backImg.jpg");
    background-position: 0px -67px;
    background-size: cover;
}

.contentBlock {
    display: grid;
    grid-template-areas:
            "nav content";
    grid-template-columns: 20% 80%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

button {
  background-color: #2f9c30;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
}



