.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: azure;
}

.dialogsItems img {
    width: 50px;
    border-radius: 30px;
}

.dialogsItems a {
    color: dimgray;
    text-decoration: none;
}

.dialog a.activeLink {
    color: gold;
}

.messages {
    padding: 10px;
}

.message img {
    width: 50px;
    border-radius: 30px;
    margin-right: 15px;
}

.messages .message {
    color: dimgray;
}